.body-content {
    padding-top: 45px;
}

.text-center {
    font-size: 20px;
}

.ann-ttl {
    text-align: center;
    color: #999999;
    margin-top: 15px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}

.ann-ttl span {
    margin-left: 30px;
}

.content {
    width: 100%;
    word-wrap: break-word;
}

.body-content img {
    max-width: 100%;
}
