<div class="banner">
    <img src="../../assets/img/banner.png" alt="">
</div>
<div class="routerList body-content">
    <a routerLink="/team/register">
        <i class="icon icon1"></i>
        <span>注册会员</span>
    </a>
    <!--<a>-->
        <!--<i class="icon icon2"></i>-->
        <!--<span>直推列表</span>-->
    <!--</a>-->
    <!--<a>-->
        <!--<i class="icon icon3"></i>-->
        <!--<span>未激活会员</span>-->
    <!--</a>-->
    <a routerLink="/team">
        <i class="icon icon4"></i>
        <span>关系导图</span>
    </a>
</div>
<app-bottomnav></app-bottomnav>
