.icon{
    width: 40px;
    height: 40px;
    background-image: url("../../assets/img/icon.jpg");
    background-repeat: no-repeat;
    background-size: 490% auto;
}
.icon1{
    background-position: -117px 0;
}
.icon2{
    background-position: -99px 0;
}
.icon3{
    background-position: -49px 0;
}
.icon4{
    background-position: 0px 0;
}
