<div id="bottomNav">
    <a routerLinkActive="class1" routerLink="/index">
        <i class="image1"></i>
        <p>首页</p>
    </a>
    <a routerLinkActive="class2" routerLink="/teammange">
        <i class="image2"></i>
        <p>团队管理</p>
    </a>
    <a routerLinkActive="class5" routerLink="/trading">
        <i class="image5"></i>
        <p>交易</p>
    </a>
    <a routerLinkActive="class3" routerLink="/transaction">
        <i class="image3"></i>
        <p>交易管理</p>
    </a>
    <a routerLinkActive="class4" routerLink="/personal">
        <i class="image4"></i>
        <p>个人中心</p>
    </a>
</div>
