<app-header></app-header>
<div class="body-content">
    <form [formGroup]="formModel">
        <div class="form-inline">
            <div class="form-group oneline">
                <span>可用积分</span>
                <span style="text-align: right">{{jifen}}</span>
            </div>

            <div>
                <div class="form-group oneline">
                    <span>现有流通HYT</span>
                    <span style="text-align: right">{{HYT}}</span>
                </div>
            </div>

            <div class="form-group oneline" [class.has-error]="(formModel.get('Numbers').touched || formModel.get('Numbers').dirty) && formModel.get('Numbers').invalid">
                <span>购买数量</span>
                <input formControlName="Numbers" type="number" min="1" placeholder="当前币值 {{bizhi}}元/枚"/>
            </div>
            <div>
                <span class="field-validation-valid text-danger" style="margin-bottom: 0" *ngIf="formModel.get('Numbers').dirty && formModel.get('Numbers').hasError('max')">最多购买 {{max }} 个</span>
            </div>

            <div class="form-group">
                <div>
                    <button style="margin-top: 10px" class="btn btn-success" (click)="onSubmit($event)" [disabled]="formModel.invalid">购买</button>
                </div>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr class="row head">
                <th class="col-xs-2">
                    记录日期
                </th>
                <th class="col-xs-1">
                    交易方
                </th>
                <th class="col-xs-2">
                    账单说明
                </th>
                <th class="col-xs-1">
                    币值
                </th>
                <th class="col-xs-2">
                    收入
                </th>
                <th class="col-xs-1">
                    支出
                </th>
                <th class="col-xs-1">
                    余额
                </th>
                <th class="col-xs">
                    货币类型
                </th>
            </tr>

            <tr class="row" *ngFor="let x of model; let i = index">
                <td>{{GetTimes(x.Times)}}</td>
                <td>{{x.Who}}</td>
                <td>{{x.Reason}}</td>
                <td>{{x.Bi}}</td>
                <td><span [class.text-success]="x.ShouRu > 0" [class.lead]="x.ShouRu > 0">{{x.ShouRu}}</span></td>
                <td><span [class.text-danger]="x.ZhiChu">{{x.ZhiChu}}</span></td>
                <td>{{x.Balance | number:'1.0-4'}}</td>
                <td>{{x.MoneyType}}</td>
            </tr>

        </table>
    </div>
    <div class="pagebar">
        <div class="page">
            <app-pagination conf="Pagination"></app-pagination>
        </div>
    </div>


    <app-footer></app-footer>
</div>
<app-verify-pass conf="Vpconfig" (result)="result($event)"></app-verify-pass>
