.body-content{
    padding-top: 45px;
    padding-bottom: 0px;
}
.form-inline {
    clear: both;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 5px;
}
//.form-group:nth-child(3){
//    margin-bottom: 0;
//}
.oneline{
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
}
.oneline span{
    flex: 1;
    width: 50%;
}
.oneline div{
    flex: 3;
    background-color: rgba(0,0,0,0);
    border: none !important;
}
.oneline input{
    flex: 3;
    width: 50%;
    text-align: right;
}
.oneline input::-webkit-input-placeholder {
    text-align: right;
}
.form-inline button{
    width: 100%;
}
