.body-content {
    padding-top: 45px;
    padding-left: 0;
    padding-right: 0;
}

ul{
    margin-bottom: 0 !important;
}

ul li{
    list-style: none;
}

.time {
    width: 100%;
    height: 40px;
    line-height: 50px;
    text-align: center;
    font-size: 10px;
    color: #cfcfcf;
}

.annlist {
    height: 95px;
    width: 100%;
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.annlist .title{
    width: 100%;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
}
.annlist .view{
    font-size: 11px;
    color: #a3a3a3;
}
.annlist .view i{
    display: inline-block;
    width: 5px; height: 8px;
    background-image: url("../../assets/img/breadcrumb.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: 5px;
}
