.icon {
    width: 40px;
    height: 40px;
    background-image: url("../../assets/img/icon.jpg");
    background-size: 490% auto;
    background-repeat: no-repeat;
}
.icon1{
    background-position: 0 -38px;
}
.icon2{
    background-position: -118px -37px;
}
.icon3{
    background-position: -156px 0px;
}
.icon4{
    background-position: -78px -38px;
}
.icon5{
    background-position: -39px -38px;
}
.icon6{
    background-position: -156px -38px;
}
