<div class="banner">
    <img src="../../assets/img/banner.png" alt="">
</div>
<div class="routerList body-content">
    <a routerLink="/recharge">
        <i class="icon icon1"></i>
        <span>充值</span>
    </a>
    <a (click)="TiQu()">
        <i class="icon icon2"></i>
        <span>提取储存HYT</span>
    </a>
    <a (click)="buy()">
        <i class="icon icon3"></i>
        <span>可用积分转流通HYT</span>
    </a>
    <a (click)="give()">
        <i class="icon icon4"></i>
        <span>流通HYT转储存HYT</span>
    </a>
    <a (click)="liutong()">
        <i class="icon icon5"></i>
        <span>流通HYT转流通HYT</span>
    </a>
    <a routerLink="/liushui">
        <i class="icon icon6"></i>
        <span>交易流水</span>
    </a>
</div>
<app-bottomnav></app-bottomnav>
